@charset "UTF-8";
body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #D3C7CF;
  font-family: "Monospace", sans-serif;
  padding-top: 100px; /* 🔹 Aumentamos un poco el padding-top */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4c3c63;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #5f4a78;
}

/* 🔹 Ajuste del contenido principal */
main {
  padding-top: 50px; /* 🔹 Más espacio para separar del navbar */
  padding-bottom: 20px;
}

/* 🔹 Ajuste de encabezados */
h1, h2, h3 {
  padding-top: 100px; /* 🔹 Separamos los títulos aún más */
}

/* 🔹 Responsive para pantallas pequeñas (max-width: 428px) */
@media (max-width: 450px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1rem;
    height: auto;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
  }
  .nav-links a {
    display: block;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  main {
    padding-top: 120px; /* 🔹 Aumentamos el espacio para evitar solapamiento */
  }
  h1, h2, h3 {
    padding-top: 120px; /* 🔹 Ajuste final para que los títulos sean visibles */
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  animation: spin 1.5s linear;
}

.logo {
  height: 60px; /* Ajusta el tamaño del logo */
  width: auto; /* Mantiene la proporción */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeIn 1.5s ease-out;
}

p.fade-in {
  animation: fadeIn 1.5s ease-out;
  font-size: 1.2rem;
  font-weight: 500;
  color: #4c3c63;
  text-align: center;
  line-height: 1.6;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px 15px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.8rem 1.5rem;
    height: auto; /* Reduce la altura */
    width: 100%;
  }
  .main-content {
    margin-top: 80px; /* Ajustar según navbar más pequeña */
  }
}
@media (max-width: 468px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1.5rem;
    grid-template-columns: 2fr;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 1rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .nav-links a {
    justify-content: center;
    padding: 0.5rem;
  }
  .main-content {
    margin-top: 100px; /* Ajustar para evitar solapamiento */
  }
}
h1 {
  color: #4c3c63;
}

body {
  margin-top: 0;
  padding-top: 70px;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.recipe-container .recipe-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.recipe-container .recipe-card:hover {
  transform: scale(1.05);
}
.recipe-container .recipe-card .recipe-img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}
.recipe-container .recipe-card .recipe-content {
  text-align: left;
}
.recipe-container .recipe-card .recipe-content .recipe-link {
  font-size: 1.2rem;
  color: #4c3c63;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.recipe-container .recipe-card .recipe-content .recipe-link:hover {
  color: #5f4a78;
}
.recipe-container .recipe-card .recipe-content .recipe-description {
  font-size: 1rem;
  color: #5f4a78;
  margin: 10px 0;
}

.recipe-section {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}
.recipe-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #4c3c63;
  margin-bottom: 15px;
}
.recipe-section iframe {
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin: 15px 0;
}
.recipe-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5f4a78;
  margin: 20px 0 15px;
}
.recipe-section p {
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
}
.recipe-section ul, .recipe-section ol {
  margin: 10px 0 20px;
  padding-left: 20px;
  font-size: 1rem;
  color: black;
}
.recipe-section ul li, .recipe-section ol li {
  margin-bottom: 5px;
}
.recipe-section ol {
  list-style-type: decimal;
}
.recipe-section ul {
  list-style-type: disc;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0;
  font-size: 1rem;
  color: #4c3c63;
}
.footer-links a {
  color: #4c3c63;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.footer-links a:hover {
  color: #5f4a78;
}

footer {
  background-color: #4c3c63; /* Fondo morado a juego con el navbar */
  color: #ffffff; /* Texto blanco para contraste */
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
}

.tips-section {
  background: none;
  box-shadow: none;
  padding: 0;
  text-align: center;
}

.tips-section h1, .tips-section h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.tips-section h1 {
  font-size: 60px;
  color: #4c3c63;
  text-align: center;
}

.tips-section h2 {
  font-size: 30;
  color: #5f4a78;
  text-align: center;
}

.tip-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 15px;
}
.tip-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.tip-card p {
  font-size: 1rem;
  color: #4c3c63;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 768px) {
  .tips-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .tips-section h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .tips-section h2 {
    font-size: 20px;
    margin-top: 5px;
  }
}
@media (max-width: 428px) {
  .tips-section {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .tips-section h1 {
    font-size: 30px;
  }
  .tips-section h2 {
    font-size: 15px;
  }
  .tip-card {
    padding: 10px;
  }
}
main {
  text-align: center;
  padding: 20px;
}
main p {
  font-size: 1.2rem;
  color: #4c3c63;
  margin-bottom: 20px;
}

.contact-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-form label {
  font-size: 1rem;
  font-weight: bold;
  color: #4c3c63;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s ease;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #5f4a78;
}
.contact-form textarea {
  resize: vertical;
  height: 100px;
}
.contact-form input[type=submit] {
  background-color: #4c3c63;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form input[type=submit]:hover {
  background-color: #5f4a78;
}

blockquote {
  font-style: italic;
  color: #5a3e85;
  border-left: 4px solid #8a6cc5;
  padding: 10px 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 15px;
  }
  input,
  textarea {
    font-size: 0.9rem;
  }
  input[type=submit] {
    font-size: 1rem;
  }
}
@media (max-width: 428px) {
  .contact-form {
    padding: 10px;
  }
  input,
  textarea {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
